body > .footer {
  justify-content: space-evenly;
  align-items: start !important;
  padding: var(--footer-padding);
  border-top: var(--footer-border-top);
  color: var(--footer-co);
  background-color: var(--footer-bg);
}

body > .footer > div {
  width: 20%;
  padding: 4px;
}

body > .footer a {
  color: var(--footer-div-a-co);
}

body > .footer a:hover {
  color: var(--footer-div-a-hover-co);
}

body > .footer .links-redes {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

body > .footer .links-redes a {
  display: inline-block;
  padding: 6px 8px;
  border-radius: 4px;
  margin: 8px 0px 4px 0px;
  color: var(--footer-links-redes-a-co);
  background-color: var(--footer-links-redes-a-bg);
}

body > .footer .links-redes a:hover {
  color: var(--footer-links-redes-a-hover-co);
  background-color: var(--footer-links-redes-a-hover-bg);
}

body > .footer b,
body > .footer strong {
  font-size: 18px;
}

body > .footer b + hr,
body > .footer strong + hr {
  width: 50px;
  border: none;
  height: 0.5px;
  margin: 12px 0px 12px 8px;
  background-color: var(--footer-b-hr-bg);
  box-shadow: 0px 0px 0px transparent;
}
