.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: space-evenly;
}

.gallery .imagen {
  width: min(100%, 370px);
}

.gallery .imagen img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 2px;
}

.gallery .imagen img:hover {
  filter: brightness(115%);
}
