.contenedor-privado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  height: 100vh;
}

.contenedor-privado .contenido {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 720px;
  text-align: center;
  padding-bottom: 10px;
  background-color: var(--con-bg);
  overflow: hidden;
  border-radius: 4px;
}

.contenedor-privado .contenido .imagen {
  display: flex;
  width: 100%;
  height: 220px;
  background-position: center center, center top;
  background-repeat: repeat, no-repeat;
  background-size: cover;
  background-position-y: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
  opacity: 0.8;
  transition: ease 0.3s all;
}

.contenedor-privado .contenido .imagen:hover {
  opacity: 1;
}
