.check-sidebar ~ .sidebar {
  left: -100%;
}

.check-sidebar:checked ~ .sidebar {
  left: 0;
}

body > .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  display: block;
  flex-direction: column;
  z-index: 1001;
  width: 100%;
  max-width: 200px;
  overflow: auto;
  border: var(--sidebar-border);
  backdrop-filter: var(--sidebar-backdrop-filter);
  color: var(--sidebar-co);
  background-color: var(--sidebar-bg);
  box-shadow: var(--sidebar-box-shadow);
  transition: 0.2s ease all;
}

body > .sidebar header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6px;
  color: var(--sidebar-header-co);
  background-color: var(--sidebar-header-bg);
  border-bottom: var(--sidebar-header-border-bottom);
}

body > .sidebar header strong {
  margin: 0px auto;
}

body > .sidebar header label a {
  display: inline-block;
  padding: 4px 6px;
  transition: ease 0.1s all;
  border: var(--sidebar-header-a-border);
  border-radius: var(--sidebar-header-a-border-radius);
  color: var(--sidebar-header-a-co);
  background-color: var(--sidebar-header-a-bg);
  backdrop-filter: var(--sidebar-header-a-backdrop-filter);
}

body > .sidebar header label a:hover {
  color: var(--sidebar-header-a-hover-co);
  background-color: var(--sidebar-header-a-hover-bg);
}

body > .sidebar .links a {
  display: block;
  padding: var(--sidebar-links-a-padding);
  margin: var(--sidebar-links-a-margin);
  color: var(--sidebar-links-a-co);
  background-color: var(--sidebar-links-a-bg);
  border: var(--sidebar-links-a-border);
  border-radius: var(--sidebar-links-a-border-radius);
  border-bottom: var(--sidebar-links-a-border-bottom);
  backdrop-filter: var(--sidebar-links-a-backdrop-filter);
  transition: ease 0.1s all;
}

body > .sidebar .links a:hover {
  padding-left: 16px;
  color: var(--sidebar-links-a-hover-co);
  background-color: var(--sidebar-links-a-hover-bg);
}

body > .sidebar footer {
  padding: 8px 6px 25px 6px;
}

body > .sidebar footer .links-redes,
body > .sidebar footer small {
  display: block;
  text-align: center;
}

body > .sidebar footer .links-redes {
  font-size: 20px;
  margin: 4px 0px 10px 0px;
}

body > .sidebar footer .links-redes a {
  color: var(--sidebar-footer-links-redes-a-co);
}

body > .sidebar footer .links-redes a:hover {
  color: var(--sidebar-footer-links-redes-a-hover-co);
}
