hr {
  border: none;
  height: 0.5px;
  margin: var(--hr-margin);
  background-color: var(--hr-bg);
  box-shadow: var(--hr-box-shadow);
}

.boton,
.boton2,
.boton-2,
.boton-check,
.botones a,
.botones-2 a {
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  margin: 2px;
  text-decoration: none;
  border: var(--boton-border);
  border-radius: var(--boton-border-radius);
  transition-duration: 0.3s;
}

.boton,
.botones a {
  color: var(--boton-co);
  background-color: var(--boton-bg);
}

.boton:hover,
.botones a:hover {
  color: var(--boton-hover-co);
  background-color: var(--boton-hover-bg);
}

.boton2,
.boton-2,
.botones-2 a {
  border: var(--boton-2-border);
  border-radius: var(--boton-border-radius);
  color: var(--boton-2-co);
  background-color: var(--boton-2-bg);
}

.boton2:hover,
.boton-2:hover,
.botones-2 a:hover {
  color: var(--boton-2-hover-co);
  background-color: var(--boton-2-hover-bg);
}

.boton-mini,
.botones-mini a {
  padding: 2px 4px;
}

.check-boton > span {
  color: var(--boton-2-co);
  background-color: var(--boton-2-bg);
}

input[type="checkbox"] + .check-boton + .check-div {
  display: none;
}
input[type="checkbox"]:checked + .check-boton > span {
  color: var(--boton-co);
  background-color: var(--boton-bg);
}
input[type="checkbox"]:checked + .check-boton + .check-div {
  display: block;
}

.formulario {
  display: inline-block;
  padding: 6px;
  border: var(--formulario-border);
  border-radius: var(--formulario-border-radius);
  box-shadow: var(--formulario-box-shadow);
  color: var(--formulario-co);
  background-color: var(--formulario-bg);
}

input[type="text"],
input[type="number"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea,
select,
.campo {
  padding: 6px;
  border: var(--formulario-campo-border);
  border-radius: var(--formulario-campo-border-radius);
  color: var(--formulario-campo-co);
  background-color: var(--formulario-campo-bg);
  box-shadow: var(--formulario-campo-box-shadow);
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus,
.campo:focus {
  border-style: solid;
  border-width: 1px;
  outline: 0;
  border-color: var(--formulario-campo-focus-border-co);
}

option,
select optgroup {
  color: var(--formulario-campo-option-co);
  background-color: var(--formulario-campo-option-bg);
}

select .optg {
  color: var(--formulario-campo-option-strong-co);
  background-color: var(--formulario-campo-option-strong-bg);
}

.formulario-creador a {
  padding: 0px 6px;
}

textarea {
  display: block;
  min-width: 100%;
  max-width: 100%;
}

.form-campo-pequeno {
  max-width: 60px;
}

.form-campo-mediano {
  max-width: 150px;
}

.show-key:checked + label + .key-show .key-show__hidden {
  display: none;
}

.show-key:checked + label + .key-show .key-show__key {
  display: block;
}

.mensaje-span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 0px 8px;
  margin: 8px 4px;
  overflow: hidden;
  border: var(--mensaje-span-border);
  border-radius: var(--mensaje-span-border-radius);
  color: var(--mensaje-span-co);
  background-color: var(--mensaje-span-bg);
  box-shadow: var(--mensaje-span-box-shadow);
}

.mensaje-span p {
  width: 100%;
  max-width: calc(100% - 50px);
}

.mensaje-span label a {
  display: inline-block;
  padding: 12px 10px;
  color: var(--mensaje-span-label-co);
}

.mensaje-span label {
  border-left: var(--mensaje-span-label-border-left);
  background-color: var(--mensaje-span-label-bg);
}

.mensaje-span label:hover {
  background-color: var(--mensaje-span-label-hover-bg);
}

.mensaje-span label:hover a {
  color: var(--mensaje-span-label-hover-co);
}

.alert{
  width: 99% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.alert--success{
  color: white !important;
  background-color: green !important;
}

.alert--error{
  color: white !important;
  background-color: red !important;
}

.alert--warning{
  color: #000 !important;
  background-color: yellow !important;
}

.alert--info{
  color: white !important;
  background-color: rgb(44, 44, 252) !important;
}

.alert--refresh{
  color: #000 !important;
  background-color: rgb(64,255,255) !important;
}

.alert--default{
  color: #000 !important;
  background-color: #F4F4F4 !important;
}

.anuncio-marquee {
  margin: 6px 0px;
  padding: 0px;
  width: 90%;
  overflow: hidden;
  border: var(--anuncio-marquee-border);
  border-radius: var(--anuncio-marquee-border-radius);
  background-color: var(--anuncio-marquee-bg);
  box-shadow: var(--anuncio-marquee-box-shadow);
}

.anuncio-marquee a {
  color: var(--anuncio-marquee-co);
}

.anuncio-marquee:hover a {
  color: var(--anuncio-marquee-hover-co);
}

.anuncio-marquee a marquee {
  padding: 4px 0px 0px 0px;
}

.anuncio-mini-banner img {
  width: auto;
  max-width: 95%;
  border-radius: var(--anuncio-mini-banner-img-border-radius);
}

.anuncio-article-miniatura img {
  width: auto;
  max-width: 100%;
  border-radius: var(--anuncio-article-img-border-radius);
}

.con {
  display: block;
  padding: var(--con-padding);
  margin: var(--con-margin);
  width: var(--con-width);
  border: var(--con-border);
  border-radius: var(--con-border-radius);
  color: var(--con-co);
  background-color: var(--con-bg);
  box-shadow: var(--con-box-shadow);
}

.con img,
.con iframe {
  max-width: 100%;
}

.con ul,
.con ol {
  margin: 0px 0px 0px 30px;
  line-height: 28px;
}
.con p,
.con h2,
.con h3,
.con h4,
.con h5,
.con h6 {
  margin: 8px 0px;
}

.con h1 {
  margin-bottom: 8px;
}

.con-blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.con-blog--max-size {
  max-width: 820px;
}

.con-blog > .blog {
  border-radius: 0px; max-width: 820px;
}

.con-blog__miniatura {
  text-align: center;
  margin-top: 15px;
}

.con-blog__header {
  display: flex; flex-wrap: wrap; justify-content: space-between; opacity: .8;
}

.con-blog__published {
  display: flex; flex-wrap: wrap; justify-content: space-evenly; gap: 4px; align-items: center;
}

.t-10 {
  font-size: 10px;
}
.t-12 {
  font-size: 12px;
}
.t-14 {
  font-size: 14px;
}
.t-16 {
  font-size: 16px;
}
.t-18 {
  font-size: 18px;
}
.t-20 {
  font-size: 20px;
}

.t-center {
  text-align: center;
}

.dp-none {
  display: none;
}

.mr-l-r-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-16{
  margin-top: 16px;
  margin-bottom: 16px;
}

label {
  cursor: pointer;
}

.flex-between {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.flex-evenly,
.flex-column {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.flex-evenly {
  justify-content: space-evenly;
}
.flex-column {
  flex-direction: column !important;
}

.flex-row{
  flex-direction: row;
}

.flex-1{
  flex: 1;
}

.items-center{
  align-items: center;
}

.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}