@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--body-co);
  background-color: var(--body-bg);
}

body::-webkit-scrollbar,
.scrolls::-webkit-scrollbar,
textarea::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

body::-webkit-scrollbar-thumb,
.scrolls::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--body-barra-bg);
  border-radius: 5px;
}

a {
  color: var(--a-co);
  transition: ease 0.2s all;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--a-hover-co);
}

body > .header,
body > .header-bar,
body > .footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
