/* Mostrar el overlay */
.check-sidebar:checked ~ .overlay {
  display: block;
}

.check-sidebar:checked ~ .sidebar {
  left: 0;
}

@media (max-width: 768px) {
  .check-sidebar:checked ~ .sidebar {
    max-width: 100%;
    min-height: 100vh;
    text-align: center;
  }
}
