.article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  gap: 8px;
  color: var(--article-co);
  background-color: var(--article-bg);
}

body > .content > .article {
  max-width: var(--content-article-max-width);
  color: var(--content-article-co);
  background-color: var(--content-article-bg);
}

body > .content > .article > div {
  border: var(--content-article-div-border);
  border-radius: var(--content-article-div-border-radius);
  box-shadow: var(--content-article-div-box-shadow);
  color: var(--content-article-div-co);
  background-color: var(--content-article-div-bg);
}

.article > div {
  padding: 6px 4px 6px 6px;
}

.article div a {
  text-decoration: none;
  color: var(--article-div-a-co);
}

.article div a:hover {
  color: var(--article-div-a-hover-co);
}

.article div .boton {
  border: var(--article-div-boton-border);
  border-radius: var(--article-div-boton-border-radius);
  color: var(--article-div-boton-co);
  background-color: var(--article-div-boton-bg);
}

.article div .boton:hover {
  color: var(--article-div-boton-hover-co);
  background-color: var(--article-div-boton-hover-bg);
}

.article div .boton-2 {
  border: var(--article-div-boton-2-border);
  border-radius: var(--article-div-boton-2-border-radius);
  color: var(--article-div-boton-2-co);
  background-color: var(--article-div-boton-2-bg);
}

.article div .boton-2:hover {
  color: var(--article-div-boton-2-hover-co);
  background-color: var(--article-div-boton-2-hover-bg);
}
