body > .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  color: var(--content-co);
  background-color: var(--content-bg);
}

body > .content > main {
  width: 100%;
  max-width: calc(100% - var(--content-article-max-width));
  color: var(--content-main-co);
  background-color: var(--content-main-bg);
}
