body > .header-bar {
  position: sticky;
  justify-content: space-between;
  top: 0;
}

body > .header-bar,
body > .header-bar label .sub nav {
  z-index: 1001;
  padding: var(--header-bar-padding);
  backdrop-filter: var(--header-bar-backdrop-filter);
  border-bottom: var(--header-bar-border-bottom);
  box-shadow: var(--header-bar-box-shadow);
  color: var(--header-bar-co);
  background-color: var(--header-bar-bg);
}

body > .header-bar a {
  display: inline-block;
  padding: var(--header-bar-a-padding);
  border-radius: var(--header-bar-a-border-radius);
  color: var(--header-bar-a-co);
  background-color: var(--header-bar-a-bg);
}

body > .header-bar a:hover {
  color: var(--header-bar-a-hover-co);
  background-color: var(--header-bar-a-hover-bg);
}

body > .header-bar label {
  position: relative;
}

body > .header-bar label .sub {
  position: absolute;
  right: 0;
  display: none;
}

body > .header-bar label .sub nav {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
  width: 250px;
}

body > .header-bar label input[type="checkbox"]:checked + a + .sub {
  display: block;
}

@media (max-width: 768px) {
  body > .header-bar label {
    position: initial;
  }

  body > .header-bar label .sub {
    left: 0;
  }

  body > .header-bar label .sub nav {
    width: 100%;
  }
}
