@media (max-width: 882px) {
  body > .footer > div {
    width: 50%;
  }
}

@media (max-width: 768px) {
  body > .content,
  body > .footer {
    justify-content: space-evenly;
    flex-direction: column;
  }

  body > .content > main {
    max-width: 100%;
  }

  body > .content > .article {
    margin-top: 6px;
    max-width: 100%;
    color: var(--footer-co);
    background-color: var(--footer-bg);
  }

  body > .content > .article div {
    border: none;
    box-shadow: none;
    color: var(--footer-div-co);
    background-color: var(--footer-div-bg);
  }

  body > .content > .article div hr {
    width: 50px;
  }

  body > .footer {
    gap: 20px;
  }

  body > .footer > div {
    width: 100%;
    padding: 0px;
  }
}
